*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* to box model */
}
body{
font-family: 'Merriweather', serif;
background-color: #ebf2ff;
}

.button_primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    
    color: #fff;
   border: none;
   padding: 12px;
   border-radius: 6px;
   cursor: pointer;

}

.container{
    max-width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.navbar_brand {
    width: 100px;
}
.nav_logo{
    width: 100%;
}

.nav_items{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    
    color: #fff;
   border: none;
   padding: 12px;
   border-radius: 6px;
   cursor: pointer;

}

.nav_items:hover{
    border: 2px solid blue;
}

.hero_image_container{
    position: relative;
    width: 100%;
}
.hero_image_shape{
    position: absolute;
    right: 2;
}
.hero_image{
    position: absolute;
    width: 100%;
    border-radius: 8px;
    z-index: 2;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero_text{
    font-size: 30px;
    margin: 20px 0px;

}

.explore_menu_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.food_card{
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food_card_image_container{

    width: 100%;
}
.food_image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food_card_discription{
    padding: 15px;
}


/*flexx*/
.restaurant_text{

    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}


.restaurant_images_container{
    width: 100%;
}

.restaurant_images_row_one ,.restaurant_images_row_two{
    width: 100%;
    display: flex;
    gap: 3px;
}

.restaurant_images_row_one{
    align-items: baseline;
    margin-bottom: 3px;
}

.restaurant_image_1 , .restaurant_image_4{
    width: 100%;
    height: 120px;
}
.restaurant_image_2 , .restaurant_image_3{
    width: 120%;
    height: 200px;
}

.restaurant_1 ,
.restaurant_2 ,
.restaurant_3 ,
.restaurant_4{
    width: 100%;
    height: 100%;
}




.email_container{
    margin-top: 3rem;
    width: 100%;
    padding: 15%;
    margin-right: auto;
    margin-left: auto;
}
.text {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #1d3557;
    font-weight: 900;
  }

.email_enter_container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.email_input{
  border: 1px solid #ee89a0;
  background-color: #fcedf0;
  color: #1d3557;
  font-weight: 700;
  padding: 10px;
  border-radius: 4px;
}

.thought_container{
  width: 100%;
  position: relative; 
  margin-top: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  border-radius: 13px;
}

.thought_image{
    width: 100%;
    position: absolute;
    z-index: -3;
    opacity: 49;
   

}
.thought_restaurant{
    width: 100%;
    border-radius: 15px;
}
.thought_text {
    color: #fff;
    margin: 0 1rem;
    text-align: center;
  }

 

@media (min-width:768px){

    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
    .hero_container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .explore_menu_lists{
        margin-top: 40px;
        display: flex;
        gap:15px;
        padding: 0 20px;
    }

    #pizza_card{
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .explore_menu_view_more{
        display: flex;
        justify-content: center;
    }
    .explore_menu_container{
        position: relative;
    }
    .explore_menu_gradient_bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
         );
        transform: skewY(-5deg);
       z-index:-3;
    }

   .restaurant_container{
       display: flex;
       align-items: center;
   }
   .restaurant_text{
       width: 100%;
       font-size: 40px;
   }
   .email_enter_container{
       display: flex;
       gap: 20px;
       justify-content: center;
   }

   .email__input {
    width: 20rem;
  }
  
  .text {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .thought_container {
    height: 200px;
    width: 100%;
   
  }
  .thought_image {
    position: absolute;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    opacity: 49%;
  }
  .thought_text {
    color: #fff;
    margin: 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }

}

@media (min-width: 1020px) {
      
    .container{
        max-width: 900px;
    }

    .navbar__brand {
      width: 150px;
    }
    .button_primary {
      padding: 20px;
      font-size: 20px;
    }
    .hero_description{
        
        width: 100%;
    }

    .hero_text{
        font-size: 50px;
    }

    .explore_menu_lists{
        gap: 40px;
    }
    .explore_menu_text{
        font-size: 50px;
    }

    .text{
        font-size: 3rem;
        line-height: 1;
      }

    .thought_container{
        
        height: 300px;
        width: 100%;
      
      }

  }
    
@media (min-width: 1400px){
    .container{
        max-width: 1250px;
    }
}
