*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* to box model */
}
body{
font-family: 'Merriweather', serif;
background-color: #ebf2ff;
}


.container{
    max-width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar_brand {
    width: 100px;
}
.nav_logo{
    width: 100%;
}

.nav_items{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    
    color: #fff;
   border: none;
   padding: 12px;
   border-radius: 6px;
   cursor: pointer;

}

.nav_items:hover{
    border: 2px solid blue;
}

.hero_image_container{
    width: 100%;
}
.hero_image{
    width: 100%;
    border-radius: 8px;
}

@media (min-width:768px){

    .navbar{
        justify-content: space-between;
        padding: 5px 30px;
    }

}

@media (min-width: 1020px) {
    .navbar__brand {
      width: 150px;
    }
    .nav__item {
      padding: 20px;
      font-size: 20px;
    }
  }
    
